@media(min-width:1025px){

#formLogin{
	width: 100%;
    padding: 100px 10%;
	background-color:#fff;
	float: left;
}

    #campos{
        padding: 20px 20%;
    }

        #campos input{
            margin-right: 5px;
        }

        #cardfooter a{
            color: #c4c4c4;
            text-decoration: none;
        }
            #cardfooter a:hover{
                color: #000;
            }
    
        #btnLogin{
            margin: 0 10px;
        }

    .error{
        font-size: 80%;
        color: #dc3545;
    }
}
