@media(min-width:1025px){

#conteudo{
	width: 100%;
    padding: 50px 10%;
	background-color:#fff;
	float: left;
}

	.btnEditar{
        margin-left: 10px;
    }
   
	.error{
		margin-top: 0.25rem;
		font-size: 80%;
		color: #dc3545;
	}

}
