@media (min-width: 1025px){

    #titulo{
        margin-top: 50px;
        margin-left:5.7%;/*96px*/
        width: 92%;/*150px*/
        color: #24262D;
        padding: 5px 0 5px 10px; 
    }

    /* #filtrosMobile{
        margin-bottom: 15px;
    } */
    
    #conteudo{
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color:#fff;
        float: left;
        padding: 35px 115px 100px 115px;
    }

    #ordemProdutos{
        display: flex;
        position: absolute;
        top: 0;
        right: 28px;
        width: 150px;
        height: 100%;
    }


        #ordemProdutos p {
            display: flex;
            align-self: center;
            margin-top: 15px;
            margin-right: 10px;
        }

        #dropdownOrdemProdutos {
            display: flex;
            align-self: center;
            padding: 5px;
        }

        #btnOrdem {
            display: none;
        }

    #mainProdutos{
        display: grid;
        grid-area: produtos;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        /* padding-right: 5%; */
        justify-content: center;
        gap: 10px;
        grid-column-start: 2;
        padding-top: 30px;
    }

    .Produtos{
        /* grid-template-rows: auto 100px 38px; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* text-align: center; */
        width: 100%;
        max-width: 280px;
        max-height: 380px;
        margin-bottom: 35px; 
        gap: 5px;
    }

    .Imagem{
        width: 100%;/*270px*/	
        /* max-height: 247px; */
    }

    
    .descricao{
        /* width: 90%;270px */
        /* margin: 15px 0;  */
        padding: 15px 0;
        text-align: center;
    }
        .descricao a:hover{
            color: #000;
        }
        
        .precoAntigo{
            text-decoration: line-through;
            color: #999;
        }

        .preco {
            color: #28a745;
        }

        .promocao{
            color: #ed1c24;
            margin-left: 10px;
        }

        #filtrosMobile {
            position: relative;
            width: 100%;
            height: 50px;
            grid-row-start: 1;
            grid-row-end: 1;
            grid-column-start: 2;
            grid-column-end: 2;
            padding: 5px 0;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
        }   

            #filtrosMobile select {
                height: 39px;
                margin-right: 15px;
                padding: 5px 15px;
                border: 1px solid #fff;
                cursor: pointer;
            }

                #filtrosMobile select:hover {
                    border: 1px solid #000;
                }
        
	
	   #filtros{
            display: flex;
            grid-area: filtro;
            justify-content: center;
            width: 100%;
            /* height: 100vh; */
            background: #fff;
            padding: 0 20px;
            grid-column-start: 1;
            grid-column-end: 1; 
       }

            .titulo{
                margin: 5px;
                border-bottom: 1px solid #ccc;
                font-size: 20px;
                text-transform: uppercase;
            }

            .listaMarcasCategorias{
                list-style: none;
                padding: 0 0 0 20px;
            }

                .listaMarcasCategorias input{
                    margin-left: 5px;
                }




            .tamanho{
                padding: 3px 10px;
                background: #fff;
                display: inline-block;
                margin: 5px;
                border:1px solid #ccc;
                border-radius: 5px;
                cursor: pointer;
                text-transform: uppercase;
            }

            .cor{   
                padding: 12px;
                display: inline-block;
                margin: 5px;
                border:1px solid #ccc;
                border-radius: 5px;
                cursor: pointer;
            }

            input[name="chkTamanho"] {
                display: none;
            }

            input[name="chkCor"] {
                display: none;
            }

        #btnFiltrar {
            display: flex;
            justify-content: center;
            width: 100%;
            padding: 5px 15px;
            background: #28a745;
            color: #fff;
            border: none;
            outline: 0;
            cursor: pointer;
            text-transform: uppercase;
        }    


        .liPaginacao{
            display: flex;
            grid-area: paginacao;
            height: 100%;
            list-style-type: none;
            align-items: center;
            justify-content: flex-end;
            margin-top: 55px;
        }

            .linkPage {
                padding: 3px 20px;
                margin-left: 2px;
                text-transform: uppercase;
                text-decoration: none;
                background-color: #fff;
                border: 1px solid #000;
            }
                .activePage {
                    background-color: #000;
                    color: #fff;
                }

                .disabledPage a{
                    border: 1px solid #ccc;
                    color: #ccc;
                }
                    .disabledPage:hover a{
                        background-color: #fff;
                        border: 1px solid #ccc;
                        color: #ccc;
                    }

                .linkPage:hover {
                    text-decoration: none;
                    background-color: #000;
                    color: #fff;
                }

        .botoes{
            width: 100%;
            max-height: 38px;
        }

        #semPagina{
            width: 500px;
        }

}


@media (min-width: 768px) AND (max-width: 1024px){
    #ordemProdutos {
        display: none;
    }

    #titulo {
        margin-top: 50px;
        margin-left:5.7%;/*96px*/
        width: 92%;/*150px*/
        color: #24262D;
        padding: 5px 0 5px 10px;
    }

    #filtrosMobile {
        display: flex;
        justify-items: center;
        margin-bottom: 15px;
    }

        .filtroMobile {
            width: 15%;
        }

        #chkFiltro {
            display: flex;
            justify-content: center;
        }

        #filtrosMobile button {
            /* width: 20%; */
            padding: 2px 50px;
            margin-left: 10px;
        }

    #conteudo {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        background-color: #fff;
        padding-top: 5px;
        padding-bottom: 100px;
    }

    #mainProdutos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        gap: 10px;
    }

    .Produtos{
        display: grid;
        grid-template-rows: auto 100px 38px;
        justify-content: center;
        width: 100%;
        gap: 5px;
        max-width: 300px;
        border: 2px solid #fff;
        text-align: center;
    }

    .Imagem{
        width: 100%;/*270px*/
    }


    .descricao{
        width: 90%;/*270px*/
        margin-left: 5%;/*15px*/
        margin-top: 15px;
    }

        .descricao h6{
            font-weight: 100;
        }

        .preco{
            text-decoration: line-through;
            color: #999;
        }

        .promocao{
            color: #28a745;
            margin-left: 10px;
        }

    .liPaginacao{
        display: flex;
        width: 100%;
        height: 100%;
        list-style-type: none;
        align-items: center;
        justify-content: center;
        margin: 15px 0;
    }


    .botoes{
        width: 100%;
        max-height: 38px;
    }
}


@media (max-width: 767px){
    #ordemProdutos {
        display: none;
    }

    #titulo{
        margin-top: 50px;
        margin-left:5.7%;/*96px*/
        width: 92%;/*150px*/
        color: #24262D;
        padding: 5px 0 5px 10px; 
    }

    #filtrosMobile {
        display: flex;
        justify-items: center;
        flex-wrap: wrap;
        margin-bottom: 15px;
    }

        .filtroMobile {
            width: 15%;
            min-width: 114px;
            margin-bottom: 5px;
        }

        #chkFiltro {
            display: flex;
            justify-content: center;
        }

        #filtrosMobile button {
            /* width: 20%; */
            padding: 2px 50px;
            margin-left: 10px;
        }
    
    #conteudo{
        width: 100%;
        background-color:#fff;
        float: left;
        padding-top: 5px;
        padding-bottom: 100px;
    }
    
    #mainProdutos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        gap: 10px;
    }

    .Produtos{
        display: grid;
        grid-template-rows: auto 100px 38px;
        justify-content: center;
        width: 100%;
        gap: 5px;
        max-width: 300px;
        border: 2px solid #fff;
        text-align: center;  
    }

    .Imagem{
        width: 100%;/*270px*/	
    }

    
    .descricao{
        width: 90%;/*270px*/
        margin-left: 5%;/*15px*/
        margin-top: 15px; 
    }

        .descricao h6{
            font-weight: 100;
        }

        .preco{
            text-decoration: line-through;
            color: #999;
        }

        .promocao{
            color: #28a745;
            margin-left: 10px;
        }

    .liPaginacao{
        width: 100%;
        list-style-type: none;
        display: flex;
        align-content: center;
        justify-content: center;
        margin: 15px 0;
    }

    .botoes{
        width: 100%;
        max-height: 38px;
    }
}