@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
	/*font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";/*century gothic*/
}

::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 8px;
    background: #f00;
}
::-webkit-scrollbar-thumb {
    background: #706F6F;
    border-radius: 3px;
}

@media (min-width: 1025px){

    #titulo{
        margin-top: 50px;
        margin-left:5.7%;/*96px*/
        width: 92%;/*150px*/
        color: #24262D;
        padding: 5px 0 5px 10px; 
    }

    #filtrosMobile{
        margin-bottom: 15px;
    }
    
    #conteudo{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        background-color:#fff;
        float: left;
        padding-top: 35px;
        padding-bottom: 100px;
    }

    #mainProdutos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        /* padding-right: 5%; */
        justify-content: center;
        gap: 10px;
    }

    .Produtos{
        display: grid;
        grid-template-rows: auto 100px 38px;
        justify-items: center;
        width: 100%;
        max-width: 280px;
        border: 2px solid #fff;
        text-align: center;  
        gap: 5px;
    }

    .Imagem{
        width: 100%;/*270px*/	
    }

    
    .descricao{
        width: 90%;/*270px*/
        margin-top: 15px; 
    }

        .descricao h6{
            font-weight: 100;
        }

        .preco{
            text-decoration: line-through;
            color: #999;
        }

        .promocao{
            color: #ed1c24;
            margin-left: 10px;
        }
	
	   #filtros{
            display: grid;
            justify-content: center;
            width: 100%;
            height: 100vh;
            background: #fff;
            padding: 0 20px;
/*            border: 1px solid #ccc;
            border-radius: 10px;*/
       }

            .titulo{
                margin: 5px;
                border-bottom: 1px solid #ccc;
                font-size: 20px;
                text-transform: uppercase;
            }

            .listaMarcasCategorias{
                list-style: none;
                padding: 0 0 0 20px;
            }

                .listaMarcasCategorias input{
                    margin-left: 5px;
                }




            .tamanho{
                padding: 3px 10px;
                background: #fff;
                display: inline-block;
                margin: 5px;
                border:1px solid #ccc;
                border-radius: 5px;
                cursor: pointer;
                text-transform: uppercase;
            }

            .cor{   
                padding: 12px;
                display: inline-block;
                margin: 5px;
                border:1px solid #ccc;
                border-radius: 5px;
                cursor: pointer;
            }

            input[name="chkTamanho"] {
                display: none;
            }

            input[name="chkCor"] {
                display: none;
            }


        .liPaginacao{
            width: 100%;
            list-style-type: none;
            display: flex;
            align-content: center;
            justify-content: flex-end;
            grid-column-start: 2;
            grid-column-end: 3;
        }

        .botoes{
            width: 100%;
            max-height: 38px;
        }

        #semPagina{
            width: 500px;
        }

}


@media (min-width: 768px) AND (max-width: 1024px){
    #titulo{
        margin-top: 50px;
        margin-left:5.7%;/*96px*/
        width: 92%;/*150px*/
        color: #24262D;
        padding: 5px 0 5px 10px;
    }

    #filtrosMobile{
        margin-bottom: 15px;
    }

    #conteudo {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        background-color: #fff;
        padding-top: 5px;
        padding-bottom: 100px;
    }

    #mainProdutos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        gap: 10px;
    }

    .Produtos{
        display: grid;
        grid-template-rows: auto 100px 38px;
        justify-content: center;
        width: 100%;
        gap: 5px;
        max-width: 300px;
        border: 2px solid #fff;
        text-align: center;
    }

    .Imagem{
        width: 100%;/*270px*/
    }


    .descricao{
        width: 90%;/*270px*/
        margin-left: 5%;/*15px*/
        margin-top: 15px;
    }

        .descricao h6{
            font-weight: 100;
        }

        .preco{
            text-decoration: line-through;
            color: #999;
        }

        .promocao{
            color: #28a745;
            margin-left: 10px;
        }

    .liPaginacao{
        width: 100%;
        list-style-type: none;
        display: flex;
        align-content: center;
        justify-content: center;
    }


    .botoes{
        width: 100%;
        max-height: 38px;
    }
}


@media (max-width: 767px){

    #titulo{
        margin-top: 50px;
        margin-left:5.7%;/*96px*/
        width: 92%;/*150px*/
        color: #24262D;
        padding: 5px 0 5px 10px; 
    }

    #filtrosMobile{
        margin-bottom: 15px;
    }
    
    #conteudo{
        width: 100%;
        background-color:#fff;
        float: left;
        padding-top: 5px;
        padding-bottom: 100px;
    }
    
    #mainProdutos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        gap: 10px;
    }

    .Produtos{
        display: grid;
        grid-template-rows: auto 100px 38px;
        justify-content: center;
        width: 100%;
        gap: 5px;
        max-width: 300px;
        border: 2px solid #fff;
        text-align: center;  
    }

    .Imagem{
        width: 100%;/*270px*/	
    }

    
    .descricao{
        width: 90%;/*270px*/
        margin-left: 5%;/*15px*/
        margin-top: 15px; 
    }

        .descricao h6{
            font-weight: 100;
        }

        .preco{
            text-decoration: line-through;
            color: #999;
        }

        .promocao{
            color: #28a745;
            margin-left: 10px;
        }

    .liPaginacao{
        width: 100%;
        list-style-type: none;
        display: flex;
        align-content: center;
        justify-content: center;
    }

    .botoes{
        width: 100%;
        max-height: 38px;
    }
}